<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Automation.Sdk.Bindings"/>
    </stepAssemblies>
    <plugins>
      <add name="Automation.Sdk.RuntimePlugin" type="Runtime"/>
    </plugins>
  </specFlow>
  <appSettings>
    <add key="AutomationTracer"/>
  </appSettings>
</configuration>