<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sdk"
             type="Automation.Sdk.UIWrappers.Configuration.AutomationSdkConfigurationSection, Automation.Sdk.UIWrappers" />
  </configSections>
  
  <appSettings>
    <add key="Key1" value="true" />
    <add key="Key2" value="Administrator" />
  </appSettings>
  
  <sdk>
  </sdk>
</configuration>
